<section class="d-flex flex-column container">
  <%= link_to "Add Food", new_food_path, class: "btn btn-primary align-self-end" %>
  <%if @foods.present? %>
    <ul class="list-group border mx-0 mt-3">
      <li>
        <div><b>Food</b></div>
        <div><b>Measurement Unit</b></div>
        <div><b>Price</b></div>
        <div><b>Actions</b></div>
      </li>
      <% @foods.each do | food | %>
        <li>
          <div class="col"><%= food.name %></div>
          <div class="col"><%= food.measurement_unit %></div>
          <div class="col"><%= food.price %></div>
          <div class="col">
            <%= button_to "Delete", food_path(food), class: "btn btn-danger", method: :delete %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="border-2">
      <p class="bg-light text-center"> There is no food yet. You can add a new one!</p>
    </div>
  <% end %>
</section>