<section class="Containe">
  <%= link_to "Add Food", new_food_path, class: "links" %>
  <%if @foods.present? %>
    <table class="rec-all">
      <tr class="food-ul">
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
      <% @foods.each do | food | %>
        <tr class="food-ul2">
          <td class="col"><%= food.name %></td>
          <td class="col"><%= food.measurement_unit %></td>
          <td class="col"><%= food.price %></td>
          <td class="col">
            <%= button_to "Delete", food_path(food), class: "D-btn2", method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <th class="border-2">
      <p class="links"> There is no food yet. You can add a new one!</p>
    </th>
  <% end %>
</section>
